<h1> FORM</h1>

<%= form_for(@student) do |f| %>


  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>

  <div class="field">
    <%= f.label :Gender %><br>
     <%= f.text_field :Gender %>
  </div>
  
   <div class="field">
    <%= f.label :'Weight in Pounds' %><br>
    <%= f.text_field :Weight %>
  </div>
  <div class="field">
    <%= f.label :'Height in Centimetres' %><br>
    <%= f.text_field :Height %>
  </div>
  <div class="field">
    <%= f.label :Colour %><br>
    <%= f.text_field :Colour %>
  </div>
  
<div class="field">
    <%= f.label :'GPA' %><br>
    <%= f.text_field :GPA %>
  </div>
  
  
  
  
  <br> 
  
  <div class="actions">
    <%= f.submit 'Update Student' %>
  </div>
<% end %>

