<h1>Student Database</h1>

<table style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Colour</th>
      <th>GPA</th>
      <th>Campus</th>
      <th>Faculty</th>

    </tr>
  </thead>
  <tbody>

  </tbody>
</table>


<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Colour</th>
      <th>Gpa</th>
      <th>Campus</th>
      <th>Faculty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.Name %></td>
        <td><%= student.Gender %></td>
        <td><%= student.Weight %></td>
        <td><%= student.Height %></td>
        <td><%= student.Colour %></td>
        <td><%= student.GPA %></td>
        <td><%= student.PrimaryCampus %></td>
        <td><%= student.Faculty %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>

