<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.Name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.Gender %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @student.Weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @student.Height %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @student.Colour %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @student.GPA %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @student.PrimaryCampus %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @student.Faculty %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
